# Importing Libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Preprocessing

## Data Loading

In [4]:
# City name lists
cities = [
    "Ahvaz",
    "Bandar Abbas",
    "Isfahan",
    "Karaj",
    "Kerman",
    "Mashhad",
    "Rasht",
    "Shiraz",
    "Tabriz",
    "Tehran"
]

# Dataframe to keep dataframes
dataframes = {}

# Reading DataFrames and Saving them in a dictionary
for city in cities:
    dataframes[city] = pd.read_csv(f"Dataset/{city}.csv")

# for city, df in dataframes.items():
#     print(f"Dataframe for {city}:")
#     print(f"Shape: {df.shape}")
#     print()
# print(dataframes)

## Data Cleaning :

### Checking NaNs :

In [21]:
print("MISSING VALUES' SUM :")
for city, df in dataframes.items():
    missing_values = df.isnull().sum()
    print(f"- {city}:", missing_values.values.sum())

MISSING VALUES' SUM :
- Ahvaz: 0
- Bandar Abbas: 0
- Isfahan: 0
- Karaj: 0
- Kerman: 0
- Mashhad: 0
- Rasht: 0
- Shiraz: 0
- Tabriz: 0
- Tehran: 0

### Setting Date Column's Datatype :

In [22]:
# Fixing the date data type
for city, df in dataframes.items():
    df["time"] = pd.to_datetime(df["time"])

### Check Datatypes :

In [27]:
dataframes["Tehran"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4926 entries, 0 to 4925
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   time                             4926 non-null   datetime64[ns]
 1   temp_max (°C)                    4926 non-null   float64
 2   temp_min (°C)                    4926 non-null   float64
 3   temp_mean (°C)                   4926 non-null   float64
 4   daylight_duration (s)            4926 non-null   float64
 5   precipitation_sum (mm)           4926 non-null   float64
 6   rain_sum (mm)                    4926 non-null   float64
 7   snowfall_sum (cm)                4926 non-null   float64
 8   precipitation_hours (h)          4926 non-null   float64
 9   wind_speed_max (km/h)            4926 non-null   float64
 10  wind_gusts_max (km/h)            4926 non-null   float64
 11  wind_direction_dominant (°)      4926 non-null   int64
 12  shortwave_radiation_sum (MJ/m²)  4926 non-null   float64
 13  evapotranspiration (mm)          4926 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(1)
memory usage: 538.9 KB

**Note:** all the dataframes were checked but to show a clean output for presentation we only showed the data of Tehran result