# Importing Libraries

In [133]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from persiantools.jdatetime import JalaliDate
from datetime import datetime, date

# Data Preparation

## Dataset Combining

#### load geography information

In [134]:
geography = pd.read_csv(f"Dataset/Geography Information.csv")
geography['city'] = geography['city'].str.strip()
print(geography)

    latitude  longitude  elevation          city
0  35.676624  51.428570     1183.0        Tehran
1  38.066784  46.150738     1399.0        Tabriz
2  36.309315  59.648438      986.0       Mashhad
3  32.653778  51.695120     1579.0       Isfahan
4  29.630930  52.560837     1541.0        Shiraz
5  31.318100  48.700836       23.0         Ahvaz
6  37.293495  49.535810        4.0         Rasht
7  30.263618  57.119434     1762.0        Kerman
8  27.170473  56.224940        9.0  Bandar Abbas
9  35.817223  50.980644     1341.0         Karaj

#### load city information

In [135]:
# City name lists
cities = [
    "Tehran",
    "Tabriz",
    "Mashhad",
    "Isfahan",
    "Shiraz",
    "Ahvaz",
    "Rasht",
    "Kerman",
    "Bandar Abbas",
    "Karaj"
]

# list to keep dataframes
dataframes = []

# Reading DataFrames and Saving them in a dictionary
for city in cities:
    df = pd.read_csv(f"Dataset/{city}.csv")
    df['city'] = city
    dataframes.append(df)

#### Combine what we have gotten so far

In [136]:
## Data Cleaning 
df_combined = pd.concat(dataframes, ignore_index=True)
df_combined = pd.merge(df_combined, geography, on='city', how='left')

# Save the combined dataframe to a new CSV file
df_combined.to_csv("Dataset/Combined Dataset.csv", index=False)

## Data Cleaning

In [137]:
del df, df_combined, dataframes, geography, cities
df = pd.read_csv("Dataset/Combined Dataset.csv")

### Checking NaNs

In [138]:
print("Dataset Missing Values:")
missing_values = df.isnull().sum()
print(missing_values)

Dataset Missing Values:
time                               0
temp_max (°C)                      0
temp_min (°C)                      0
temp_mean (°C)                     0
daylight_duration (s)              0
precipitation_sum (mm)             0
rain_sum (mm)                      0
snowfall_sum (cm)                  0
precipitation_hours (h)            0
wind_speed_max (km/h)              0
wind_gusts_max (km/h)              0
wind_direction_dominant (°)        0
shortwave_radiation_sum (MJ/m²)    0
evapotranspiration (mm)            0
city                               0
latitude                           0
longitude                          0
elevation                          0
dtype: int64

### Gregorian and Jalali Date Settings

In [139]:
df["time"] = pd.to_datetime(df["time"])

In [140]:
# create Jalali date column
df["date_jalali"] = df["time"].apply(lambda time: JalaliDate(time)) 

# rename time to date_gregorian
df.rename(columns={'time': 'date_gregorian'}, inplace=True)

In [141]:
df["season"] = df["date_jalali"].apply(lambda date: 
                                        1 if date.month in [1, 2, 3] else 
                                        2 if date.month in [4, 5, 6] else 
                                        3 if date.month in [7, 8, 9] else 
                                        4  
                                        ).astype(np.int8)

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49260 entries, 0 to 49259
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date_gregorian                   49260 non-null  datetime64[ns]
 1   temp_max (°C)                    49260 non-null  float64
 2   temp_min (°C)                    49260 non-null  float64
 3   temp_mean (°C)                   49260 non-null  float64
 4   daylight_duration (s)            49260 non-null  float64
 5   precipitation_sum (mm)           49260 non-null  float64
 6   rain_sum (mm)                    49260 non-null  float64
 7   snowfall_sum (cm)                49260 non-null  float64
 8   precipitation_hours (h)          49260 non-null  float64
 9   wind_speed_max (km/h)            49260 non-null  float64
 10  wind_gusts_max (km/h)            49260 non-null  float64
 11  wind_direction_dominant (°)      49260 non-null  int64
 12  shortwave_radiation_sum (MJ/m²)  49260 non-null  float64
 13  evapotranspiration (mm)          49260 non-null  float64
 14  city                             49260 non-null  object
 15  latitude                         49260 non-null  float64
 16  longitude                        49260 non-null  float64
 17  elevation                        49260 non-null  float64
 18  date_jalali                      49260 non-null  object
 19  season                           49260 non-null  int8
dtypes: datetime64[ns](1), float64(15), int64(1), int8(1), object(2)
memory usage: 7.2+ MB

### Memory Cleaning

In [154]:
def datatype_cleaner(df):
    
    for column in df.select_dtypes(include=['float', 'int']).columns:
        min_val = df[column].min()
        max_val = df[column].max()
    
        col_dtype = df[column].dtype
    
        # Check ranges for int and float types
        if np.issubdtype(col_dtype, np.integer):
            if min_val >= -128 and max_val <= 127:  # int8
                df[column] = df[column].astype(np.int8)
            elif min_val >= -32768 and max_val <= 32767:  # int16
                df[column] = df[column].astype(np.int16)
            elif min_val >= -2147483648 and max_val <= 2147483647:  # int32
                df[column] = df[column].astype(np.int32)
            else:
                df[column] = df[column].astype(np.int64)
        elif np.issubdtype(col_dtype, np.floating):
            if min_val >= -65504 and max_val <= 65504:  # float16
                df[column] = df[column].astype(np.float16)
            elif min_val >= -3.4e38 and max_val <= 3.4e38:  # float32
                df[column] = df[column].astype(np.float32)
            else:
                df[column] = df[column].astype(np.float64)

In [155]:
# calling the function to clean datatype memory usage
datatype_cleaner(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49260 entries, 0 to 49259
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date_gregorian                   49260 non-null  object
 1   temp_max (°C)                    49260 non-null  float16
 2   temp_min (°C)                    49260 non-null  float16
 3   temp_mean (°C)                   49260 non-null  float16
 4   daylight_duration (s)            49260 non-null  float16
 5   precipitation_sum (mm)           49260 non-null  float16
 6   rain_sum (mm)                    49260 non-null  float16
 7   snowfall_sum (cm)                49260 non-null  float16
 8   precipitation_hours (h)          49260 non-null  float16
 9   wind_speed_max (km/h)            49260 non-null  float16
 10  wind_gusts_max (km/h)            49260 non-null  float16
 11  wind_direction_dominant (°)      49260 non-null  int16
 12  shortwave_radiation_sum (MJ/m²)  49260 non-null  float16
 13  evapotranspiration (mm)          49260 non-null  float16
 14  city                             49260 non-null  object
 15  latitude                         49260 non-null  float16
 16  longitude                        49260 non-null  float16
 17  elevation                        49260 non-null  float16
 18  date_jalali                      49260 non-null  object
 19  season                           49260 non-null  int8
dtypes: float16(15), int16(1), int8(1), object(3)
memory usage: 2.7+ MB

In [150]:
df.to_csv("Final Dataset.csv", index=False)

# Data Visualization